<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-feature android:name="android.hardware.usb.host" android:required="false"/>
    <application android:theme="@style/AppTheme" android:label="USB0 Manager" android:allowBackup="false" android:supportsRtl="true">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    <service android:name=".MonitorService" android:exported="false" android:foregroundServiceType="dataSync"/>

        <receiver android:name=".PppControlReceiver" android:exported="true">
            <intent-filter>
                <action android:name="de.draisberghof.pppwidget3.ACTION_CONNECT"/>
                <action android:name="de.draisberghof.pppwidget3.ACTION_DISCONNECT"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".PppWidgetProvider" android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ppp_widget_info"/>
        </receiver>
        <receiver android:name=".BootReceiver" android:exported="false">
            <intent-filter><action android:name="android.intent.action.BOOT_COMPLETED"/></intent-filter>
        </receiver>
    </application>
</manifest>
